name: Testing

on:
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [18, 20, 22]

        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: recursive
            - uses: mymindstorm/setup-emsdk@v12
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm ci
            - run: npm run lint:nofix
            - run: npm run build:wasm
            - run: npm run build
            - run: npm test
            - run: npm run luatests
